html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: #232934 !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.selectedCategory {
  text-shadow: 0px 1px 9px #fff;
  background-color: transparent !important;
}

.show-percent-box {
  transition-property: width;
  transition-duration: 1.3s;
}

.recharts-layer :focus {
  outline: none;
}
