body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.income {
  background-color: #5bab0b;
}

.expense {
  background-color: #5e61dfbd;
}

.selectedCategory {
  font-weight: bold;
}

.show-percent-box {
  transition-property: width;
  transition-duration: 1.3s;
}

.recharts-layer :focus {
  outline: none;
}
