body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.Salary {
  background-color: #4daf3c;
}
.Products {
  background-color: #f3b619;
}
.Utilities {
  background-color: #dd446c;
}
.Clothes {
  background-color: #058795;
}
/* .Unknown {
  background-color: #757575;
} */
